/*
bright salamon #E94858
mustard #F3A32A
light green #82BF6E
aqua #3CB4CB
dark blueishgreen #16434B
 */

.closeFilter:hover{
  cursor: pointer;
}
 .entriesContainer{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;

}


.fellowTravelersContainer{
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  flex-direction: column;
}

.fellowLines{
  border-color:#16434B;
  width:55%;
  align-items: flex-start;
}
.fellowEntry{
  margin:.5rem;
  width: 20vw;
  text-align: center;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 1rem;
  flex-wrap: wrap;
  background-color:#82BF6E;
  transition: 0.25s;
  -webkit-filter: opacity(.7);
  filter: opacity(.7);
  z-index: 1;
}
.fellowEntry h3{
  font-family: 'Courgette', cursive;
  padding:0 .5rem;

}

.fellowEntry :hover{
    color:#333;
}

.fellowEntryLocName{
  text-align: left;

}

.fellowEntryUserName{
  text-align: left;
  flex-direction: column;
}

.fellowMemories{
  text-align: left;
}
.fellowEntry:hover  {
  -webkit-filter: opacity(1);
  filter: opacity(1);
  z-index: 1;
  cursor: pointer;
}

.fellowPics{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: .5rem;
  margin:1rem 0;
  border: 2px solid #333;
  background-color:rgba(105,105,105,0.4);
  border-radius: 3px;

}

.filterBtn{
  margin-left: 1rem;
  padding: .2rem 1rem;
}

.filterBtn:hover{
  cursor: pointer;
}

.overlay img{
  transition: 1s;
  transition: scale(1.1) 1s ease-in-out;
}

.overlay:hover  img{
  transition: all 1s ease-in-out;
  transform: scale(1.1);
}

.PicFellowPics{
  padding: .5rem;
}
.searchBar{
  display: flex;
  justify-content: space-between;
  background-color: #F3A32A;
  padding: 1rem .5rem 1rem .5rem;
  width: 82vw;
  /* height:3rem; */

}
.showFilterBtn{
  padding:1rem;
  background-color: #F3A32A;
  border: 1px solid black;
  border-radius: 5px;
}
.showFilterBtn:hover{
  cursor: pointer;
}
.filterBtnsContainer{
  display: flex;
}
/*
bright salamon #E94858
mustard #F3A32A
light green #82BF6E
aqua #3CB4CB
dark blueishgreen #16434B
 */
