.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding:7rem;

}
body {
  min-height: 100%;
  /* font-family: 'Sedgwick Ave'; */
  font-family: 'Lato', sans-serif;
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
