.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

}
/* @media screen and (max-width: 780px) {
  .tripTitle {
    font-size: 1rem;
  }
  .trip{
    flex-direction: column;
  }
  .allTripsContainer {
    padding:0;
  }
  .imgDiv{
    padding:0;
  }
} */
