h2{
  padding-left: 1rem;
}
.photoContainer{
  display: flex;
  justify-content: center;
  padding-top:2rem;
}
.homePhotos{
  width:75vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.homePhotos img {
  padding: .5rem;
}

img:hover {
  /* padding: 1rem; */
}
