.myTripsContainer{
  display: flex;

}

main{
  min-width: 75%;
  align-content: center;
  justify-content: center;
}

li{
  list-style: none;
}

.header{
  /* min-width: 75%; */
}
.nameDiv{

  padding-top: 2rem;
  padding-left: 1rem;
}

.entryFormModal{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
.modalX{
  align-self: flex-start;
}
.modalHeader{
  display: flex;
  justify-content: space-between;
  background-color: #16434B;
  margin:0;
  color:#fff;
}
.modalHeader h2{
  padding-left: 2rem;
}
.modalForm{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
/* .modalForm h2{
  margin:0;
  color:#fff;
} */
.modalFormContent{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-content: center;
}
.modalFormContent input{
  width:180px;
}

.modalFormContent label {
  display:flex;
}

.modalFormContent textarea{
  height: 80px;
}
.trip{
  display: flex;
  border: 2px solid black;
  margin-bottom: 1rem;
  justify-content: center;
  width: 30vw;
  align-content: center;
  box-shadow:  3px 7px 5px 0px rgba(0,0,0,0.4);
}

.formContainer{
  margin-top: 2rem;
  min-height: 200px;
  padding:0 7rem 1rem 1rem ;
  border:2px solid #3CB4CB;
  border-radius: 5px;
  align-self: center;
}

.allTripsContainer{
  padding-top: 2rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.tripTitleContainer{
  padding-left: 2rem;
}

.tripTitle h1{
  font-family: 'Roboto', sans-serif;
}

.btnContainer{
  display:flex;
  justify-content: center;
}

._slideInner_fhwgk_1{
  display:flex;
  justify-content: center;
}

.imgDiv{
  padding: .5rem;
  align-self: center;
}

.tripFormContainer{
  align-self: center;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wp-caption {
position: relative;
padding: 0;
margin: 0;
}

@media screen and (max-width: 780px) {
  .tripTitle {
    font-size: 1rem;
  }
  .trip{
    flex-direction: column;
  }
  .allTripsContainer {
    padding:0;
  }
  .imgDiv{
    padding:0;
  }
}
