.myTripsContainer{
  display: flex;

}

main{
  min-width: 75%;
  align-content: center;
  justify-content: center;
}

li{
  list-style: none;
}

.header{
  /* min-width: 75%; */
}
.nameDiv{
  padding-left: 1rem;
}

.trip{
  display: flex;
  border: 2px solid black;
  padding: 1rem 2rem;
  /* margin: 0 3rem; */
  justify-content: center;
  /* width: 30vw; */

}

.tripsContainer{
  display: flex;
  justify-content: center;

  /* align-items: center; */
  align-self: center;

}
.tripTitleContainer{
  /* align-items: baseline; */
  /* align-self:baseline; */
  padding-left: 2rem;
}

.imgDiv{
  padding: .5rem;
  align-self: center;
  /* width: 100px;
  height: 100px; */
}


/* @media screen and (max-width: 581px){

} */
@media screen and (max-width: 780px) {
  .tripTitle {
    font-size: 1rem;
  }
  .trip{
    flex-direction: column;
  }
  .tripsContainer {
    padding:0;
  }
  .imgDiv{
    padding:0;
  }
}
