.myTripsContainer{
  display: flex;

}

main{
  min-width: 75%;
  align-content: center;
  justify-content: center;
}

li{
  list-style: none;
}

.header{
  /* min-width: 75%; */
}
.nameDiv{
  padding-left: 1rem;
}
/* .entryModal{
  width:50vw;
} */


.entryFormModal{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
.modalX{
  align-self: flex-start;
}
.modalHeader{
  display: flex;
  justify-content: space-between;
  background-color: #16434B;
  margin:0;
  color:#fff;
}
.modalHeader h2{
  padding-left: 2rem;
}
.modalForm{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
/* .modalForm h2{
  margin:0;
  color:#fff;
} */
.modalFormContent{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-content: center;
}
.modalFormContent input{
  width:180px;
}

.modalFormContent label {
  display:flex;
}

.modalFormContent textarea{
  height: 80px;
}
.trip{
  display: flex;
  border: 2px solid black;
  margin-bottom: 1rem;
  justify-content: center;
  width: 30vw;
  align-content: center;
  box-shadow:  3px 7px 5px 0px rgba(0,0,0,0.4);
}


#overlay {
    /* position: fixed; */
    /* display: none;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer; */

}

/* #overlay:hover{
  position: fixed;
  display: none;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
} */
/* #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
} */


.formContainer{
  margin-top: 2rem;
  min-height: 200px;
  padding:0 7rem 1rem 1rem ;
  border:2px solid #3CB4CB;
  border-radius: 5px;
  align-self: center;
} 

.allTripsContainer{
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;

}
.tripTitleContainer{
  /* align-items: baseline; */
  /* align-self:baseline; */
  padding-left: 2rem;
}
.btnContainer{
  display:flex;
  justify-content: center;
  /* background-color: black; */
}
._slideInner_fhwgk_1{
  display:flex;
  justify-content: center;
}
.imgDiv{
  padding: .5rem;
  align-self: center;
  /* width: 100px;
  height: 100px; */
}

.myTripsContainer{
  /* background-image: url(../assets/steven-lewis-342.jpg);
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height:100%; */
  /* background-size: cover; */
}

.tripFormContainer{
  align-self: center;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wp-caption {
position: relative;
padding: 0;
margin: 0;
}
/* .wp-caption img {
display: block;
max-width: 100%;
height: auto;
} */
/* .overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  color: #fff;
  left: 0;
  bottom: 0;
  padding: 0.75em 1em;
  font-weight: 700;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.7);
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.overlay:hover {
  opacity: 1;
  color:red;
} */

/* @media screen and (max-width: 581px){

} */
@media screen and (max-width: 780px) {
  .tripTitle {
    font-size: 1rem;
  }
  .trip{
    flex-direction: column;
  }
  .allTripsContainer {
    padding:0;
  }
  .imgDiv{
    padding:0;
  }
}
