/*
bright salamon #E94858
mustard #F3A32A
light green #82BF6E
aqua #3CB4CB
dark blueishgreen #16434B
 */
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  padding:0 .5em .5em .5em;
  background-color: #16434B;
  color: #fff;
  z-index: 2;

}

.navLink {
  text-transform: uppercase;
  text-decoration: underline;

}
.titleIcon{
  display: flex;
}
.titleIcon h1{
  font-size: 3rem;
  font-family: 'Sedgwick Ave', cursive;
  padding:0 .5rem;
  margin: 0;
  align-self: flex-end;
}
.navContainer{
    display:block;
    justify-content: center;
}
.navLinks{
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
}
a:hover{
  color:#F3A32A;
}
h1 {
  display:block;
  text-align: center;
}
a {
  padding-right: 1rem;
  color:#fff;
  text-decoration: none;
}

.banner{
  background-color: #16434B;
  position: fixed;
  width:100%;
  z-index: 99;
}
.loginContainerLink{
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
}
 #signupLogin {
   margin:.3rem;
   align-self: flex-start;
   background-color: #16434B;

}
