

.container  {

   /* width: 80%; */
   color: #333;
   background: #419be0;
   padding: 3rem;
   max-width: 960px;
   margin: 0 auto;
 }

.confirmationMessage{
  color:#2d2d2d;
  border: 2px solid red;
  padding: 1rem;
  max-width: 20rem;

}

.confirmationMessage button{
  margin: .5rem;
  max-width: 3rem;
  align-self: center;
}

.confirmationMessage:hover button{
    cursor: pointer;
}

.confirmationMessageBtns{
    display: flex;
    justify-content: center;

}

 .memoryContainer{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-bottom: 1rem;
  justify-content: center;
  width: 50vw;
  padding:1rem;
  /* align-content: center; */
  box-shadow:  3px 7px 5px 0px rgba(0,0,0,0.4);
}

.innerTrip{
  /* background-color: black; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.innerTrip:hover{
  opacity: 1;
}


.memoryContainer h3{
  text-align: center;

}
.memoryContainer h4 {
  padding-left: 1rem;
}
.memoryContainer p {
  padding:0 2rem;
}

.photosContainer{
  align-self: center;

}
.photosContainer img{
  padding: 0 1rem;
}
.photosContainer:hover img{
  cursor: pointer;
}

.tripEntryBtnContainer{
  align-self: center;
  /* justify-content: center; */
  margin: 1rem 0;

}

.tripEntryBtnContainer button{
  padding: 0 1rem;
  margin: 0 1rem;
}

.tripEntryBtnContainer:hover button{
  cursor: pointer;
}

.userAlterataionsContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
