.memoryContainer{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-bottom: 1rem;
  justify-content: center;
  width: 50vw;
  /* align-content: center; */
  box-shadow:  3px 7px 5px 0px rgba(0,0,0,0.4);

}

.innerTrip{
  /* background-color: black; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.innerTrip:hover{
  opacity: 1;
}
.container  {

   /* width: 80%; */
   color: #333;
   background: #419be0;
   padding: 3rem;
   max-width: 960px;
   margin: 0 auto;
 }

.memoryContainer h3{
  text-align: center;

}
.memoryContainer h4 {
  padding-left: 1rem;
}
.memoryContainer p {
  padding:0 2rem;
}

.photosContainer{
  align-self: center;

}
.photosContainer img{
  padding: 0 1rem;
}
