/*
bright salamon #E94858
mustard #F3A32A
light green #82BF6E
aqua #3CB4CB
dark blueishgreen #16434B
 */

.container  {

   /* width: 80%; */
   color: #333;
   background: #419be0;
   padding: 3rem;
   max-width: 960px;
   margin: 0 auto;
 }

.confirmationMessage{
  color:#2d2d2d;
  border: 2px solid red;
  padding: 1rem;
  max-width: 20rem;
  background-color:rgba(212,52,0,0.6);

}
.confirmationMessage p{
    font-size: 1rem;
    color:#fff;
}
.confirmationMessage button{
  margin: .5rem;
  max-width: 3rem;
  align-self: center;

}

.confirmationMessage:hover button{
    cursor: pointer;
}

.confirmationMessageBtns{
    display: flex;
    justify-content: center;

}

.innerTrip{
  /* background-color: black; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.innerTrip:hover{
  opacity: 1;
}

.memoryContainer{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-bottom: 1rem;
  justify-content: center;
  width: 50vw;
  padding:1rem;
  background-color: #fff;
  opacity: .8;
  box-shadow:  3px 7px 5px 0px rgba(0,0,0,0.4);
}

.memoryContainer h3{
  text-align: center;

}
.memoryContainer h4 {
  padding-left: 1rem;
}

.memoryContainer p {
  padding:0 2rem;
}

.memoryContainer hr{
  border: .5px thin black;
  width: 35%;
}

.photosContainer{
  align-self: center;

}
.photosContainer img{
  padding: 0 1rem;
}
.photosContainer:hover img{
  cursor: pointer;
}

.tripEntryBtnContainer{
  align-self: center;
  /* justify-content: center; */
  margin: 1rem 0;

}

.tripEntryBtnContainer button{
  padding: 0 1rem;
  margin: 0 1rem;
}

.tripEntryBtnContainer:hover button{
  cursor: pointer;
}

.userAlterataionsContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.userAlterataionsContainer button{
  background-color: #505E70;
  color:#fff;
  font-size: 1rem;
  border-radius: 5px;
  border:1px solid #16434B;
}
