.tripLink {
  padding-right: 1rem;
  color:black;
  text-decoration: none;
}
 .tripLink:hover {
  background-color: ;
  border-radius: 10px;
}

.trip{
  opacity: .8;
}
.trip:hover{
  opacity: 1;
}

.trip:active{
  opacity: 100;
}
